<li {% if active_link == "Dashboard" %}class="active"{% endif %}><a href="{% url 'logout' %}">Dashboard</a></li>
<li {% if active_link == "WODs" %}class="active"{% endif %}><a href="{% url 'logout' %}">WODs</a></li>
<li {% if active_link == "Challenges" %}class="active"{% endif %}><a href="{% url 'logout' %}">Challenges</a></li>
<li {% if active_link == "Stats" %}class="active"{% endif %}><a href="{% url 'logout' %}">Stats</a></li>
<li {% if active_link == "Goals" %}class="active"{% endif %}><a href="{% url 'logout' %}">Goals</a></li>

