{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Log In{% endblock title %}

{% block navbar_menu %}
    <header id="header" class="alt" xmlns="http://www.w3.org/1999/html">
        <nav id="nav">
            <ul>
                <li class="current"><a href="{% url 'signup' %}">Sign Up</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <script>
                alert("The username or password did not match. Please try again.");
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block authorization %}
    <div class="inner">
        <div class="registration_form">
            <form class="login_form" method="post" action="{% url 'login' %}">{% csrf_token %}
                {% csrf_token %}
                <div class="message">
                </div>
                <div class="reg_wrapper">
                    <div class="link_wrapper">
                        <a class="facebook" href="#">Face Book</a>
                        <a class="google" href="#">Google+</a>
                    </div>
                    <h3 class="note">Or log in with email.</h3>
                    <fieldset class="user_input">
                        <div class="name_row">
                            <input class="input_ctrl email" id="email" type="email" required="" placeholder="Email" name="email"> </input>
                            <input class="input_ctrl password" id="password" type="password" required="" placeholder="Password" name="password">
                            </input>
                        </div>
                    </fieldset>
                    <div class="remember_me">
                        <input type="checkbox" class="remember_check"> </input>
                        <span>Remember me</span>
                    </div>
                    <button type="submit" class="button login">Log In</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block articles %}
{% endblock %}

