<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div class="container">
        <div class="page-header">
            <h2>Password reset
                <small>Reset your password here.</small>
            </h2>
        </div>
        <h4>Your password has been reset successfully</h4>
        We've emailed you instructions for setting your password to the email address you submitted. You should be receiving
        it shortly.
    </div>
</head>
<body>

</body>
</html>