{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Log In{% endblock title %}

{% block navbar_menu %}
    <header id="header" class="alt">
        <nav id="nav">
            <ul>
                <li class="current"><a href="{% url 'login' %}">Log In</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <script>
                alert("UserName or Email already exists.");
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block authorization %}
    <div class="inner">
        <h2>Unlock Your Potential</h2>
        <p>Connect with a global community of athletes and train like never before</p>
        <div class="registration_form">
            <form class="signup_form" method="post" action="">{% csrf_token %}
                <div class="reg_wrapper">
                    <div class="link_wrapper">
                        <a class="facebook" href="#">Face Book</a>
                        <a class="google" href="#">Google+</a>
                    </div>
                    <h3 class="note">or sign up with your email address.</h3>
                    <fieldset class="user_input">
                        <div class="name_row">
                            <input class="input_ctrl fname" id="first_name" type="text" required="" placeholder="First Name" name="firstname">
                            </input>
                            <input class="input_ctrl lname" id="last_name" type="text" required="" placeholder="Last Name" name="lastname">
                            </input>
                        </div>
                        <input class="input_ctrl username" id="username" type="text" required="" placeholder="UserID" name="username">
                        </input>
                        <input class="input_ctrl email" id="email" type="email" required="" placeholder="Email" name="email">
                        </input>
                        <input class="input_ctrl password" id="password" type="password" required="" placeholder="Password" name="password">
                        </input>
                    </fieldset>
                    <button type="submit" class="button signup">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block articles %}
{% endblock %}

